:root {
    --main-color: #15202b;
    --secondary-color: #192734;
    --border-color: #164d56;
    --main-text: #fff;
    --secondary-text: #eeeeee;
    --theme-dot-border: #fff;
    --preview-bg: rgb(25, 32, 52, 0.8);
    --preveiw-shadow: #111921;
    --button-color: #17a2b8;
    --button-color-hover: #31cce4e5;
    --cursor-color: #fff;
}