:root {
    --main-color: #606b56;
    --secondary-color: #515a48;
    --border-color: #161914;
    --main-text: #fff;
    --secondary-text: #eeeeee;
    --theme-dot-border: #fff;
    --preview-bg: rgb(81, 90, 72, 0.8);
    --preveiw-shadow: #2a2f25;
    --button-color: #669966;
    --cursor-color: #fff;
}