:root {
    --main-color: #eaeaea;
    --secondary-color: #fff;
    --border-color: #c1c1c1;
    --main-text: bold;
    --secondary-text: #4b5156;
    --theme-dot-border: #24292e;
    --preview-bg: rgb(251, 249, 243, 0.8);
    --preveiw-shadow: #f0ead6;
    --button-color: #000;
    --button-color-hover: rgba(0, 0, 0, 0.800);
    --cursor-color: #000;
    /* card */
    --main-color-alt: #17a2b8;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--main-text);
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondary-text);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.section-one {
    background: var(--main-color);
    border-bottom: 1px solid var(--border-color);
    overflow: auto;
}

.section-two {
    background: var(--secondary-color);
    border-bottom: 1px solid var(--border-color);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}


/* Main Section */

.intro-wrapper {
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px 5px 0 0;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 5rem 30rem;
    grid-template-areas: "nav-wrapper nav-wrapper""greeting-wrapper greeting-wrapper""left-column right-column";
}

.greeting-wrapper {
    display: grid;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    grid-area: greeting-wrapper;
}


.nav-wrapper {
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
}

#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#navigation a {
    color: var(--main-text);
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

.broweser-dot {
    background: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    margin: 5px;
}

#dot-1 {
    background: #fc6058;
}

#dot-2 {
    background: #fec02f;
}

#dot-3 {
    background: #2aca3e;
}


/* typing Effect */

.greeting-wrapper .intro {
    display: flex;
    margin: 100px auto;


}

.typing {
    position: relative;
    margin-left: 10px;
}


.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    right: -5px;
    height: 60px;
    border-right: 3px solid var(--cursor-color);
    animation: blink 0.6s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.left-column {
    grid-area: left-column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.left-column h5 {
    text-align: center;
    line-height: 0;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--border-color);
}


/* Personalize Theme */

.theme-options-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 30px;
    width: 30px;
    background: black;
    border-radius: 50%;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    margin: 5px;
    border: 2px solid var(--theme-dot-border);
    cursor: pointer;
    transition: 0.3s;
}

.theme-dot:hover {
    border: 5px solid var(--theme-dot-border);
}

#light-mode {
    background: #fff;
}

#blue-mode {
    background: #192734;
}

#green-mode {
    background: #78866b;
}

#purple-mode {
    background: #7e4c7e;
}

#setting-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#preview {
    width: 300px;
    border: 2px solid var(--main-color-alt);
    background: var(--preview-bg);
    padding: 30px 15px;
    position: relative;
}

.preview-shadow {
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
    background: var(--preveiw-shadow);
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid var(--main-color-alt);
    background: #fff;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}


/* End Main Section */


/* About Section  */

.about-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-gap: 100px;
}

#skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 25px;
}

#skills .skill .progress {
    width: 100%;
    height: 25px;
    background: var(--preveiw-shadow);
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-top: 20px; */
}

#skills .skill .progress .progress-value {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(to right, var(--main-color-alt) 10%, var(--button-color));
    transition: .9s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills .skill .progress span {
    z-index: 10;
    color: #fff;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* grid-area: img; */
}

.links i,
.links i a {
    padding: 10px;
    color: var(--button-color);
    cursor: pointer;
    transition: 0.5s;
}



.links i:hover,
.links i a:hover {
    color: var(--button-color-hover);
}

#social-img {
    width: 300px;
}


/* End About Section  */


/* Portfolio section  */

.portfolio {
    padding-top: 50px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.portfolio h3 {
    text-align: center;
    margin-bottom: 50px;
}

.portfolio .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.portfolio .card {
    border: 1px solid var(--border-color);
    color: var(--main-text);
    background: var(--secondary-color);
    box-shadow: 0 12px 20px 0 rgba(0 0 0 /13%), 0 2px 4px 0 rgba(0 0 0 /12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}

.portfolio .card::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    top: -3px;
    background: var(--button-color);
    width: 0px;
    transition: var(--main-transition);
}

.portfolio .card:hover {
    transform: translateY(-10px);
}

.portfolio .card:hover::before {
    width: 100%;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px 5px;
}

.card-intro {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px;
    height: 100px;
    text-align: center;
}

.portfolio .card .image {
    margin: 5px auto;
    width: calc(100% - 10px);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #d5d5d5;

    overflow: hidden;
}

.portfolio .card .image img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.portfolio .card .info {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.portfolio .card .info a {
    text-align: center;
}

.portfolio .more {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}



/* Portfolio Section End  */


/* Contact Section */

.contact h3 {
    text-align: center;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    padding: 15px;
    background: var(--main-color);
    margin-bottom: 50px;
    overflow: hidden;
}

.input-field {
    width: calc(100% - 10px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    font-size: 16px;
    padding-left: 10px;
}

.input-field:focus {
    outline: none;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background: var(--button-color);
    border: none;
    cursor: pointer;
}


/* Contact Section End  */


/* Footer */

footer {
    height: 100px;
    background: var(--main-color);
    padding: 50px;
}

footer .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    font-size: 1.2rem;
    color: var(--secondary-text);
}


/* End Footer */

/* Button */
.btn {
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    margin-top: 5px;
    transition: var(--main-transition);
    font-size: 20px;
    background: var(--button-color);
    color: #fff;
}

.btn:hover {
    background: var(--button-color-hover);
    transform: scale(0.98);
}

/* Media Query */

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "nav-wrapper""greeting-wrapper""left-column""right-column";
    }

    .typing {
        font-size: 32px;
    }

    .typing::after {
        height: 35px;
        border-right: 2px solid var(--cursor-color);

    }

    #preview {
        width: 200px;
    }

    .preview-shadow {
        width: 200px;
    }

    .greeting-wrapper {
        margin-top: 60px;
    }

    .right-column {
        justify-content: center;
    }

    #skills {

        grid-template-columns: 1fr;
    }
}